.section-banner {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 10;
  &.active {
    .section-banner-title {
      color: red;
    }
  }
  &.theme-light {
    .color-white {
      color: var(--color-black);
    }
  }

  @media (max-width: 991px) {
    height: 55vh;
  }
  &-title {
    opacity: 0;
  }
  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1062px;
    width: 100%;
    text-align: center;
    z-index: 999;
    @media (max-width: 991px) {
      max-width: calc(100% - 48px);
      top: unset;
      bottom: 60px;
      transform: translate(-50%, 0%);
    }
  }

  &.banner-expertise {
    overflow: hidden;
    @media (max-width: 991px) {
      height: 100vh;
      .section-banner-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .wrapper-chess {
      width: 80%;
      max-width: 1000px;
      margin: 0 auto auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: flex-end;
      gap: 40px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      @media (max-width: 991px) {
        width: 160%;
        // max-width: 100%;
        gap: 32px;
        bottom: 48px;
      }
      .chess-item {
        width: 100%;
        @media (max-width: 991px) {
          aspect-ratio: 4 / 6;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
