.section-banner {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--color-black);
  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1062px;
    width: 100%;
    text-align: center;
  }
}
