.build-a-brand {
  min-height: 100vh;
  width: 100%;
  // height: 100vh;
  position: relative;
  // overflow: hidden;

  &::after {
    content: "";
    height: 100dvh;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 32%,
      rgba(0, 0, 0, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  canvas {
    position: relative;
    z-index: 9;
    max-width: 100%;
    max-height: 100vh;
    height: 100%;
  }

  .branding-sticky {
    position: sticky;
    top: -150px;
    z-index: 20;
  }

  .branding-wrapper {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 19;
    transition: all 0.4s ease;

    .tab-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;

      li {
        width: 42px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid transparent;
        background-color: rgba(60, 60, 60, 0.5);
        backdrop-filter: blur(10px);
        position: relative;
        cursor: pointer;
        transition: width 0.4s ease;

        img {
          width: 27px;
          height: auto;
          position: absolute;
          z-index: 2;
          bottom: 8px;
          left: 50%;
          transform: translateX(-50%);
        }

        p {
          width: 0;
          opacity: 0;
          transition-delay: 0s;
          font-size: 12px;
          line-height: 20px;
          font-weight: bold;
          padding: 10px 20px;
          text-align: center;
          white-space: nowrap;
        }

        &.active {
          transition: width 0.5s ease;
          width: 185px !important;
          max-width: 200px;
          pointer-events: none;
          background-color: rgba(60, 60, 60, 0.5);
          backdrop-filter: blur(10px);
          border-color: transparent;

          p {
            width: 100%;
            padding: 10px 24px;
            opacity: 1;
            transition: opacity 0.4s ease;
            transition-delay: 0.4s;
          }

          img {
            left: 0;
            transform: translateX(-50%);
            bottom: 8px;
          }
        }
      }
    }

    .wrapper-content {
      margin-top: 60px;
      width: 590px;
      text-align: center;
      transition: all 0.4s ease;

      h3 {
        text-align: center;
      }

      .desc {
        margin-top: 40px;
      }
    }
  }

  &.active {
    .branding-wrapper {
      .wrapper-content {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }
    }
  }
}
