footer {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.footer {
  &-ovl {
    height: 323px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    @media (max-width: 991px) {
      height: 370px;
    }
  }

  &-wrapper {
    padding: 80px 0 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: transparent;

      video {
        filter: grayscale(100%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
        filter: blur(10px);
      }
    }
    // &::after {
    //   content: "";
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   z-index: 1;
    //   background-image: url("../../images/use/footer-background.gif");
    //   filter: blur(10px);
    //   transform: scale(1.1);
    //   background-repeat: no-repeat;
    //   background-size: 110% auto;
    //   background-position: center;
    //   top: 0;
    //   left: 0;
    // }

    @media (max-width: 991px) {
      padding: 40px 0 88px;
    }
  }

  &-title {
    font-size: 140px;
    line-height: 165px;
    font-weight: 300;
    max-width: 100vw;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      font-size: 80px;
      line-height: 88px;
      white-space: wrap;
    }
  }

  &-bottom {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      flex-direction: column;
      padding: 0 50px;
    }
    .copyright {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (max-width: 991px) {
        position: static;
        transform: none;
        margin-bottom: 12px;
      }
    }
  }
}
