::selection {
  background-color: transparent;
  color: #d1b57e;
}

.page-width {
  padding: 0 80px;
  @media (max-width: 991px) {
    padding: 0 24px;
  }
}
.effect-heading-mask-line {
  will-change: transform;
  line-height: 1.3;
  .line > * {
    vertical-align: top;
  }
}
.effect-heading-mask-line-core {
  will-change: transform;
  line-height: 1.3;
  .line > * {
    vertical-align: top;
  }
}
a {
  &.color-white {
    color: var(--color-white);
  }
}

.link-hover {
  transition: all 0.4s ease-in-out;
  position: relative;
  text-decoration: none;

  &.underline-first {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &:hover {
      &::before {
        transform: scaleX(0);
        transform-origin: bottom right;
      }
    }
  }

  &.color-white {
    color: var(--color-white);
    &::before {
      background-color: var(--color-white);
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &.active {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.dropdown-custom {
  position: relative;
  cursor: default;

  &__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 12px;

    path {
      transition: all 0.3s ease;
    }

    &.--active {
      .ic {
        transform: rotate(180deg);
      }
    }
  }

  .ic {
    transition: all 0.4s ease;
  }

  .dropdown-custom__text {
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__menu {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 11;
    right: 0;
    background-color: transparent;
    padding: 8px;
    background-color: var(--color-white);
    transform: translateY(10px);

    @media (max-width: 991px) {
      min-width: unset;
    }

    .dropdown-custom__item {
      display: inline-block;
      width: 100%;
      padding: 0;

      cursor: pointer;
      transition: all 0.3s;
      border-radius: 8px;
      font-weight: 400;
      text-align: center;
      span {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
      }
    }
  }
}

.rolling-text {
  position: relative;
  overflow: hidden;
  &.color-black {
    span {
      color: var(--color-black);
    }
    &:hover {
      span {
        color: var(--color-black);
      }
    }
  }
  &.rolling-padding-16 {
    &:hover {
      &::before {
        transform: translate3d(0, 16px, 0);
      }
    }
  }
  &.rolling-padding-12 {
    // text-transform: uppercase;
    &:hover {
      &::before {
        transform: translate3d(0, 12px, 0);
      }
    }
  }
  &:hover {
    &::before {
      transform: translate3d(0, 0, 0);
    }
    span {
      transform: translate3d(0, -200%, 0);
      color: var(--color-white);
    }
  }
  &::before {
    content: attr(data-replace);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--color-white);
    transform-origin: 50% 100%;
    transform: translate3d(0, 150%, 0);
    transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
  }

  &.color-black {
    &::before {
      color: var(--color-black);
    }
  }

  span {
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
  }
}

.button-general {
  padding: 12px 24px;
  background: var(--color-gradient);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  background-position: 0 0;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;

  &.aloading {
    pointer-events: none;

    span {
      opacity: 0;
      visibility: hidden;
    }

    &::before {
      transform: translate3d(0, -5%, 0) scale3d(1, 1, 1);
      transition: transform 0.6s cubic-bezier(0.1, 0, 0.3, 1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid transparent;
      border-radius: 50%;
      border-top: 2px solid var(--color-black);
      border-right: 2px solid var(--color-black);
      width: 20px;
      height: 20px;
      animation: spin-animation 1s linear infinite;
      z-index: 2;
      background: 0 0;
    }
  }

  @keyframes spin-animation {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @media (min-width: 992px) {
    &:hover {
      .button-text {
        display: inline-block;
        animation: MoveScaleUpInitial 0.3s forwards;
      }
      span {
        color: var(--color-black);
      }

      .marquee-inner {
        animation-play-state: running;
        opacity: 1;
        transition-duration: 0.8s;
        transition-delay: 0.3s;
      }
      &::before {
        transform: translate3d(0, -5%, 0) scale3d(1, 1, 1);
        transition: transform 0.6s cubic-bezier(0.1, 0, 0.3, 1);
      }
      // &::after {
      //   transform: translate3d(0, 0, 0);
      //   transition-duration: 0.05s;
      //   transition-delay: 0.4s;
      //   transition-timing-function: linear;
      // }
    }
  }

  &::before {
    content: "";
    position: absolute;
    background: var(--color-primary);
    width: 130%;
    height: 0;
    padding-bottom: 130%;
    top: -65%;
    left: -15%;
    border-radius: 50%;
    transform: translate3d(0, 75%, 0) scale3d(0, 0, 0);
    transition: transform 0.5s cubic-bezier(0.1, 0, 0.3, 1);
    @media (max-width: 991px) {
      content: unset;
    }
  }
  // &::after {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 3;
  //   // content: "";
  //   background: var(--color-primary);
  //   transform: translate3d(0, -100%, 0);
  //   transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  // }
  .marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 4;
    display: flex;
    align-items: center;

    &-inner {
      --offset: 16px;
      --move-initial: calc(-25% + var(--offset));
      --move-final: calc(-50% + var(--offset));
      opacity: 0;
      position: relative;
      display: flex;
      width: fit-content;
      transform: translate3d(var(--move-initial), 0, 0);
      animation: marquee 2s linear infinite;
      animation-play-state: paused;
      span {
        text-align: center;
        white-space: nowrap;
        padding: 12px 10px;
        color: var(--color-black);
        font-family: var(--font-primary);
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
      }
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes MoveScaleUpInitial {
  100% {
    transform: translate3d(0, -105%, 0);
    opacity: 0;
  }
}
.spacing {
  height: 100vh;
}
.spacing-80 {
  height: 80px;
}
main {
  position: relative;
  z-index: 2;
  background-color: var(--color-black);
  transition: background-color 0.3s;
  height: auto;
  &.theme-light {
    background-color: var(--color-white);
  }
}

.section-title {
  max-width: 65%;
  text-align: center;
  margin: 0 auto;

  @media (max-width: 480px) {
    max-width: 100%;
    padding: 0 10px;
  }

  .desc {
    margin-top: 40px;

    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 24px;
      margin-top: 24px;
    }
  }

  .tag {
    margin-bottom: 32px;
    font-size: 10px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 1px;

    @media (max-width: 991px) {
      margin-bottom: 16px;
    }
  }
}
.magic-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1061;

  &.blur-black {
    .cursor {
      background-color: #11111133;
    }
  }
  &.move-ltf {
    .cursor {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: rgba(60, 60, 60, 0.5);
      backdrop-filter: blur(10px);
    }
  }
  &.blog-page {
    .cursor {
      background-color: rgba(60, 60, 60, 0.5);
      backdrop-filter: blur(10px);
    }
  }
  &.about-page {
    @media (max-width: 991px) {
      display: none;
    }
    .cursor {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(60, 60, 60, 0.5);
      backdrop-filter: blur(10px);

      &.arrow {
        .text {
          display: none;
        }
        .icon {
          display: block;
        }
      }
    }

    .text {
      display: block;
    }

    .icon {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .cursor {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transform-origin: center;
    background-color: rgba(60, 60, 60, 0.5);
    backdrop-filter: blur(10px);
    @media (max-width: 991px) {
      display: none;
    }
    &.show {
      transform: scale(1);
    }
  }

  .text-content {
    min-width: max-content;
    opacity: 0;
  }
}
.magic-cursor-chess {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1061;

  .cursor {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transform-origin: center;
    background-color: rgba(60, 60, 60, 0.5);
    backdrop-filter: blur(10px);
    @media (max-width: 991px) {
      display: none;
    }
    &.show {
      transform: scale(1);
    }
  }

  .text-content {
    min-width: max-content;
    opacity: 0;
  }
}

.modal-cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-black);
  z-index: 198;
  transform: translateY(40px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;

  &.open {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
  }

  .cookies-wrapper {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1100px) {
      gap: 24px;
    }
    @media (max-width: 991px) {
      flex-direction: column;
      gap: 24px;
      align-items: flex-start;
    }
    .text {
      a {
        color: var(--color-white);
        font-weight: 700;
      }
    }

    .btn-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      @media (max-width: 991px) {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      button {
        padding: 0 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        border-radius: 4px;
        background-color: rgba(217, 217, 217, 0.2);

        .button-wrapper {
          position: relative;
          overflow: hidden;

          &::before {
            content: attr(data-replace);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: var(--color-white);
            transform-origin: 50% 100%;
            transform: translate3d(0, 150%, 0);
            transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
          }

          &.color-black {
            &::before {
              color: var(--color-black);
            }
          }

          span {
            display: inline-block;
            transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
          }
        }

        &:hover {
          .button-wrapper {
            &::before {
              transform: translate3d(0, 0, 0);
            }
            span {
              transform: translate3d(0, -200%, 0);
              color: var(--color-white);
            }
          }
        }
      }
    }
  }
}

.modal-backdrop {
  background-color: rgba($color: #000000, $alpha: 0.1);
  backdrop-filter: blur(15px);
  &.show {
    opacity: 1;
  }
}

// loading
.loading {
  position: fixed;
  inset: 0;
  z-index: 199;
  overflow: hidden;

  &.none {
    display: none !important;
  }
  &-wrapper {
    position: absolute;
    inset: 0;
    transform-origin: top;
    background-color: var(--color-white);
    &-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-white);
    }
  }
  &-logo {
    img {
      height: 100px;
      width: 100px;
      object-fit: contain;
    }
  }
  .logo-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-image {
      width: 120px;
      height: 120px;
      background-size: 100% 100%;
      transform-origin: center;
      background-image: url("../../images/use/logo_circle.svg");
      animation: spin-out 10s linear infinite;
    }
  }
  &-text {
    font-size: 100px;
    line-height: 130px;
    font-weight: 300;
    white-space: nowrap;
    color: var(--color-black);
    position: absolute;
    transform: translateY(20px);
    opacity: 0;
    @media (max-width: 991px) {
      font-size: 54px;
      line-height: 72px;
    }
  }
  &-desc {
    white-space: nowrap;
    font-size: 24px;
    line-height: 32px;
    position: absolute;
    color: var(--color-black);
    transform: translateY(20px);
    opacity: 0;
  }
}
@keyframes spin-out {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.effect-fade-content-banner,
.effect-heading-mask-line-banner {
  opacity: 0;
}
.effect-heading-mask-line-banner {
  will-change: transform;
  line-height: 1.3;
  .line > * {
    vertical-align: top;
  }
}
.text-effect-gradient {
  &-not-effect {
    background: linear-gradient(
      to right,
      #fff 20%,
      #d1b57e 40%,
      #d1b57e 60%,
      #fff 80%
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;

    &.color-black {
      background: linear-gradient(
        to right,
        #000 20%,
        #d1b57e 40%,
        #d1b57e 60%,
        #000 80%
      );
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      animation: shine 5s linear infinite;
    }
  }
  .line {
    background: linear-gradient(
      to right,
      #fff 20%,
      #d1b57e 40%,
      #d1b57e 60%,
      #fff 80%
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
  }

  &.color-black {
    .line {
      background: linear-gradient(
        to right,
        #000 20%,
        #d1b57e 40%,
        #d1b57e 60%,
        #000 80%
      );
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      animation: shine 5s linear infinite;
    }
  }
}

section.theme-light {
  .text-effect-gradient {
    .line {
      background: linear-gradient(
        to right,
        #000 20%,
        #d1b57e 40%,
        #d1b57e 60%,
        #000 80%
      );
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      animation: shine 5s linear infinite;
    }

    &.color-black {
      background: linear-gradient(
        to right,
        #fff 20%,
        #d1b57e 40%,
        #d1b57e 60%,
        #fff 80%
      );
    }
  }
}
.tt-draggable {
  position: fixed;
  bottom: 60px;
  right: 40px;
  mix-blend-mode: difference;
  z-index: 111;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (max-width: 991px) {
    bottom: 60px;
    right: 20px;
  }
  &.hide {
    .btn-item {
      transform: translateX(70%);
      opacity: 0;
    }
  }
  .draggable-wrapper,
  .view-external {
    width: 64px;
    height: 64px;
    border: 1px solid transparent;
    background-color: rgba(60, 60, 60, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.5s ease,
      opacity 0.4s ease;
    position: relative;

    &:hover {
      .text {
        opacity: 1;
      }
    }

    .text {
      position: absolute;
      top: 50%;
      right: calc(100% + 15px);
      transform: translateY(-50%);
      font-size: 16px;
      line-height: 24px;
      color: var(--color-white);
      opacity: 0;
      pointer-events: none;
      min-width: max-content;
      transition: opacity 0.4s ease;

      @media (max-width: 991px) {
        display: none;
      }
    }

    svg {
      path {
        transition: all 0.3s ease;
      }
    }
  }
  .view-external {
    transition: background-color 0.3s ease, transform 0.7s ease,
      opacity 0.4s ease;
  }
}
// .elementor-element.video_full {
//   height: 100%;
// }
// .elementor-element.video_full .elementor-widget-container {
//   height: 100%;
// }
// .elementor-element.video_full .e-hosted-video {
//   height: 100%;
// }
.elementor-element .video_full {
  height: 100%;
}
.elementor-element .video_full .elementor-widget-container {
  height: 100%;
}
.elementor-element .elementor-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  aspect-ratio: unset !important;
}
.elementor-element .video_full .elementor-widget-container video {
  width: 101%;
  height: 101%;
  transform: translateY(-1px);
  object-position: center;
}
.elementor-heading-title {
  font-family: var(--font-primary) !important;
  color: #fff !important;
}
.elementor-heading-title * {
  font-family: var(--font-primary) !important;
  color: #fff !important;
}
.elementor-heading-title strong {
  font-weight: 500 !important;
}

.elementor-heading-title span {
  font-family: var(--font-primary) !important;
  color: #fff !important;
}
.line-mask {
  .line {
    line-height: 1.4;
  }
}
.page-privacy {
  @media (max-width: 991px) {
    overflow-x: hidden;
  }
}
.content-privacy {
  padding: 260px 80px 120px;
  background-color: #fff;
  @media (max-width: 991px) {
    padding: 260px 24px 80px;
  }
  .content-top {
    margin-bottom: 24px;

    font-family: var(--font-primary);
    font-size: 48px;
    line-height: 56px;
    font-weight: 300;
    @media (max-width: 991px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  .content-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    ul {
      list-style-type: disc;
      padding-left: 20px;
      li {
        text-align: justify;
      }
    }
    h2 {
      font-family: var(--font-primary);
      font-size: 32px;
      line-height: 40px;
      font-weight: 300;
      @media (max-width: 991px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
    h3,
    h4 {
      font-family: var(--font-primary);
      font-size: 26px;
      line-height: 34px;
      font-weight: bold;
    }
    p {
      text-align: justify;
    }
  }
}
