.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  mix-blend-mode: difference;
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 16px 24px;
  }
  &-menu {
    &-container {
      padding: 12px 24px;
      background-color: rgba(217, 217, 217, 0.2);
      ul {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }
  }
}
