.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;

  &-fake {
    position: fixed;
    height: 76px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    mix-blend-mode: difference;
    padding: 16px 24px;
    pointer-events: none;
    .header-hambuger {
      &.active {
        span {
          background-color: #bdbdbd;
        }
      }
      &.hovered {
        span {
          &:nth-child(2) {
            width: 100%;
          }
        }
      }
    }
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 16px 24px;
  }
  &-logo {
    width: max-content;
    position: relative;
    &.hide {
      opacity: 0;
    }
    &::before {
      content: "";
      position: absolute;
      inset: -10px;
      background-color: transparent;
    }
  }
  &-menu {
    mix-blend-mode: normal;
    isolation: isolate;
    &-container {
      padding: 14px 24px;
      background-color: rgba(60, 60, 60, 0.5);
      backdrop-filter: blur(10px);
      border-radius: 4px;
      transition: transform 0.5s ease;
      // &.hide {
      //   transform: translateY(-70px);
      // }
      @media (max-width: 991px) {
        display: none;
      }
      // &.theme-light {
      //   background-color: rgba(0, 0, 0, 0.2);
      // }
      ul {
        display: flex;
        align-items: center;
        gap: 24px;
        li {
          a {
            display: block;
            &.active {
              color: var(--color-primary);
              &::before {
                color: var(--color-primary);
              }
              &:hover {
                &::before {
                  color: var(--color-primary);
                }
              }
              span {
                color: var(--color-primary);
              }
            }
          }
        }
      }
    }
  }
  &-contact {
    gap: 40px;
    .button-general {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  &-hambuger {
    position: relative;
    width: 48px;
    height: 9px;
    top: 0;
    right: 0;

    &.animation {
      span {
        background-color: var(--color-white) !important;
        &:nth-child(1) {
          transform: rotate(0deg) !important;
        }
        &:nth-child(2) {
          transform: rotate(0deg) !important;
        }
      }
    }
    &.active {
      &:hover {
        span {
          background-color: red;
        }
      }
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 4px;
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
          bottom: 4px;
          width: 100%;
        }
      }
    }
    &.hide {
      opacity: 0;
    }
    // overflow: hidden;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      inset: -20px;
      background-color: transparent;
    }
    span {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--color-white);
      transition: all 0.3s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        bottom: 0;
        width: 50%;
        right: 0;
      }
    }
  }
  &-sub {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100dvh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    pointer-events: none;
    z-index: 99;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      &-empty {
        display: none;
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    &-bottom {
      ul {
        li {
          a {
            color: #bdbdbd !important;
          }
        }
      }
    }
    &-container {
      background-color: #000000;
      padding: 16px 40px;
      transform: translateX(100%);
      transition: all 0.7s ease-in-out;
      opacity: 0;
      @media (max-width: 991px) {
        padding: 16px 24px;
      }
      &.active {
        transform: translateX(0);
        opacity: 1;
      }
    }
    &-icon {
      margin-bottom: 16px;
    }
    &-menu {
      margin-bottom: 40px;
      ul {
        display: flex;
        flex-direction: column;

        li {
          position: relative;
          cursor: pointer;
          &.active {
            &::before {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
          &:hover {
            &::before {
              transform: scaleX(1);
              transform-origin: bottom right;
            }
          }
          &::before {
            position: absolute;
            content: "";
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: var(--color-white);
            transform: scaleX(0);
            transform-origin: bottom left;
            transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          }

          a {
            display: block;
            padding: 16px 0;
            border-bottom: 1px solid#d9d9d91a;
            position: relative;
            text-align: right;
          }
        }
      }
    }
    &-main {
      margin-bottom: 40px;
    }
  }
  &-icon-close {
    position: relative;
    cursor: pointer;
    width: 48px;
    height: 48px;
    img {
      opacity: 0;
    }
    &::before {
      position: absolute;
      content: "";
      inset: -16px;
      background-color: transparent;
    }
  }
  &-lang-container {
    gap: 24px;
    .lang-item {
      width: 48px;
      height: 48px;
      border-radius: 4px;
      border: 1px solid #d9d9d91a;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      &.active {
        border: 1px solid #d9d9d9;
        cursor: pointer;
      }
      &:hover {
        border: 1px solid #d9d9d9;
        cursor: pointer;
      }
    }
  }
}
@keyframes fullWidth {
  from {
    width: 50%;
    right: 0;
  }
  to {
    width: 100%;
    right: 0;
  }
}
.toolbar-mobile {
  @media (max-width: 991px) {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 29;
    .button-general {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      &:hover {
        &::before {
          transform: translate3d(0, -5%, 0) scale3d(1.5, 1.5, 1.5);
        }
      }
    }
  }
}
