.our-story {
  height: 100vh;
  width: 100%;
  &-pin {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &-content {
    position: relative;
    width: 100%;
    height: 470px;
    border-radius: 12px;
    background-color: black;
    display: flex;
    align-items: center;
    overflow: hidden;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: var(--color-white);
      padding: 40px;
      .content-detail {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        width: 100%;
      }
    }
  }
  &-title {
    height: 100vh;
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    background-color: black;
    &-item {
      transform-origin: left center;
      transform: rotate(0.1deg);
      transition: all 0.3s ease-in-out;
      &.active {
        line-height: 88px;
        transform: rotate(0.1deg) scale(4);
      }
    }
  }
}
