.project {
  padding-top: 260px;
  padding-bottom: 120px;

  &.page-project {
    .project-filter ul {
      gap: 24px;
    }

    .nav-item {
      &:not(:first-child) {
        .nav-link {
          width: 42px;
          height: 40px;
          position: relative;
          transition: width 0.4s ease;
          // border-color: #3c3c3c !important;

          img {
            width: 27px;
            height: auto;
            position: absolute;
            z-index: 2;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
          }

          .project-title {
            width: 0;
            opacity: 0;
            white-space: nowrap;
          }

          &.active {
            transition: width 0.5s ease;
            width: 185px !important;
            max-width: 200px;
            pointer-events: none;
            background-color: rgba(60, 60, 60, 0.5);
            backdrop-filter: blur(10px);
            border-color: transparent;

            .project-title {
              width: 100%;
              opacity: 1;
              transition: opacity 0.4s ease;
              transition-delay: 0.4s;
            }

            img {
              left: 0;
              transform: translateX(-50%);
              bottom: 8px;
            }
          }
        }
      }
    }
  }

  &.theme-light {
    .project-top {
      .title {
        color: var(--color-black);
      }
      .desc {
        color: var(--color-black);
      }
    }
    .project-filter .nav-link {
      border: 1px solid transparent;
    }
  }
  &-top {
    max-width: 1062px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
    .title {
      margin-bottom: 40px;
    }

    .desc {
      max-width: 846px;
      margin: 0 auto;
    }
  }

  ul.nav {
    gap: 24px;
    margin-bottom: 120px;
    position: sticky;

    top: 96px;
    z-index: 20;
    pointer-events: auto;

    .nav-item {
      backdrop-filter: blur(10px);
      border-radius: 4px;
      position: relative;
    }
  }
  .nav-link {
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: rgba(60, 60, 60, 0.5);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    padding: 9px 24px;
    &:hover {
      border: 1px solid transparent;
      &.active {
        border: 1px solid transparent;
      }
      .project-title {
        color: var(--color-white);
      }
    }
    &.active {
      background-color: rgba(60, 60, 60, 0.5);
      border: 1px solid transparent;
      pointer-events: none;

      .project-title {
        color: var(--color-primary);
      }
    }
    .project-title {
      color: var(--color-white);
      transition: all 0.3s ease;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 90px 80px;
    &.blog-list {
      gap: 80px 60px;
      .project-item {
        width: calc((100% - 120px) / 3);
      }
      .project-parallax {
        height: 290px;
      }
    }
    .swiper-project {
      width: 100%;
      height: 100%;

      &:hover {
        .swiper-pagination {
          opacity: 1;
          visibility: visible;
        }
      }
      .swiper-slide {
        overflow: hidden;
        .img-parallax {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
          }
        }
      }
      .swiper-pagination {
        left: 24px;
        right: 24px;
        width: calc(100% - 48px);
        top: 24px;
        bottom: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        z-index: 10;
        gap: 16px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }
      .swiper-pagination-bullet {
        width: 100%;
        border-radius: 0;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        opacity: 1;
        .progress-bar {
          background: var(--color-white);
          width: 0;
        }
        &.viewed {
          .progress-bar {
            background: var(--color-white);
            width: 100%;
          }
        }
      }
      .swiper-pagination-bullet-active {
        background-color: rgba(255, 255, 255, 0.2);
        opacity: 1;
      }
      .progress-bar {
        height: 2px;
      }
    }
  }
  &-item {
    width: calc((100% - 80px) / 2);

    &:hover {
      cursor: none;
      .img-parallax {
        img {
          transform: scale(1.05);
        }
      }
      .project-image {
        img {
          transform: scale(1.05);
        }
      }
      .project-tag {
        transform: translateY(-24px);
        opacity: 1;
      }
    }
  }
  &-parallax {
    width: 100%;
    height: 450px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 32px;
    position: relative;

    @media (min-width: 1441px) {
      aspect-ratio: 600 / 450;
    }
  }
  &-tag {
    position: absolute;
    left: 24px;
    bottom: 0;
    opacity: 0;
    z-index: 2;
    width: calc(100% - 48px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
      li {
        .tag {
          display: inline-block;
          border-radius: 4px;
          padding: 10px 24px;
          background-color: rgba(60, 60, 60, 0.5);
          backdrop-filter: blur(10px);
          transition: none;
        }
      }
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    img {
      transition: all 0.3s ease;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
