.project-detail {
  width: 100%;
  overflow: hidden;
}

.project-banner {
  width: 100%;
  position: relative;

  @media (max-width: 991px) {
    margin-top: 60px;
  }

  &.animate {
    cursor: none;

    @media (max-width: 991px) {
      margin-top: 0;
    }

    .next-project {
      position: absolute;
      inset: 0;
      z-index: 2;
      cursor: none;
    }

    .banner-img {
      clip-path: inset(0);

      img,
      video {
        transform: scale(1);
      }
    }

    .list-tag {
      li {
        // transition-delay: 0.2s;
      }
    }
  }

  .banner-img {
    width: 100%;
    height: 100dvh;
    // clip-path: inset(85px 80px 85px 80px);

    @media (max-width: 991px) {
      clip-path: inset(24px);
      height: 550px;
      // aspect-ratio: 327 / 245;
    }

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.3);
    }

    picture {
      width: 100%;
      height: 100%;
    }
  }

  .banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 160px);

    @media (max-width: 991px) {
      width: calc(100% - 48px);
    }

    h2 {
      line-height: 1.3;
    }

    .list-tag {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8px;
      max-width: 60%;
      margin: 30px auto 0;

      @media (max-width: 991px) {
        max-width: 100%;
      }

      li {
        padding: 10px 24px;
        background-color: rgba(60, 60, 60, 0.5);
        backdrop-filter: blur(10px);
        width: max-content;
        border-radius: 4px;
      }
    }
  }
}
.project-spotlight {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle 300px at var(--mouse-x, 50%) var(--mouse-y, 50%),
      transparent 0%,
      transparent 50%,
      rgba(0, 0, 0, 0.95) 70%
    );
    z-index: 2;
    transition: all 0.1s ease;
    pointer-events: none;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    h2 {
      margin-bottom: 24px;
    }
  }
}
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: transform 0.4s ease;
}
