.section-branding {
  padding: 80px 0 120px;
  background-color: var(--color-black);

  .branding-wrapper {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    .item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 24px;
      padding-right: 40px;
      border-radius: 12px;
      // min-height: 350px;
      background: var(--data-bg);
      transition: all 0.4s ease;
      overflow: hidden;
      position: relative;
      aspect-ratio: 302 / 346;

      &.has-hover {
        .item-image {
          img {
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.4s ease;

            &.img-hover {
              opacity: 0;
              visibility: hidden;
            }
          }
        }
        &:hover,
        &.active-first {
          .item-image {
            img {
              opacity: 0;
              visibility: hidden;
              &.img-hover {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }

      &-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        // transition: all 0.3s ease;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        // transition: all 0.3s ease;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          // transition: all 0.3s ease;
        }
      }

      &-number {
        font-size: 40px;
        line-height: 44px;
        font-weight: 300;
        color: var(--data-color);
        z-index: 3;
        position: relative;
        transform: translateY(20%);
        opacity: 0;
      }

      &.branding {
        grid-column: span 2;
        border: 1px solid #565656;
        // padding: 45px 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 11px;

        aspect-ratio: 628 / 346;

        .list-item {
          display: flex;
          overflow: hidden;
          gap: 12px;

          &:hover {
            ul {
              animation-play-state: paused;
            }
          }

          &:nth-child(even) {
            ul {
              animation: loopLogoAnimation 16s linear infinite reverse;
            }

            &:hover {
              ul {
                animation-play-state: paused;
              }
            }
          }

          ul {
            display: flex;
            align-items: center;
            gap: 12px;
            animation-name: loopLogoAnimation;
            animation-duration: 16s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            li {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;

              &.small {
                img {
                  min-width: 78px;
                  aspect-ratio: 1;
                  border-radius: 50%;
                  object-fit: cover;
                }
              }

              img {
                margin: 0 auto;
                width: 100%;
                min-width: 150px;
                object-fit: contain;
                aspect-ratio: 150 / 78;
                border-radius: 60px;
                overflow: hidden;
              }
            }

            @keyframes loopLogoAnimation {
              0% {
                transform: translateX(0);
              }
              100% {
                transform: translateX(-100%);
              }
            }
          }
        }
      }

      &-title {
        font-size: 40px;
        line-height: 44px;
        font-weight: 300;
        color: var(--color-white);
        color: var(--data-color);
        position: relative;
        z-index: 3;
      }

      &-desc {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-white);
        position: relative;
        z-index: 2;
      }
    }
  }
}
