.project-banner.showcase {
  height: 100svh;
  .banner-content {
    max-width: 845px;
  }
  .list-tag {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 60%;
    margin: 30px auto 0;

    @media (max-width: 991px) {
      max-width: 100%;
    }

    li {
      padding: 10px 24px;
      background-color: rgba(60, 60, 60, 0.5);
      backdrop-filter: blur(10px);
      width: max-content;
      border-radius: 4px;
    }
  }
}
.gallery {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0 80px;
}
.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 24px;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.gallery-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Trường hợp đặc biệt (ảnh zoom) */
.gallery-item.special {
  overflow: hidden;
}

/* Khi full màn hình */
.gallery-item.flip {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}
#progress-bar {
  position: fixed;
  right: 20px;
  z-index: 99;
  bottom: 80px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  transform-origin: 50% 50%;
  .progress-bar-background {
    fill: none;
    stroke: transparent;
    stroke-width: 2;
  }
  svg.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  svg.circle-progress {
    transform: rotate(-90deg);
  }
  .progress-bar-fill {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    transition: stroke-dasharray 0.15s;
  }
}
.body-content-project {
  margin-top: 120px;
  padding: 0 80px;
  .content-project {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  .content-project-item {
    width: 100%;
    aspect-ratio: 1062 / 600;
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
