.project-banner-showcase {
  width: 100%;
  position: relative;

  @media (max-width: 991px) {
    margin-top: 60px;
  }

  &.animate {
    cursor: none;

    @media (max-width: 991px) {
      margin-top: 0;
    }

    .next-project {
      position: absolute;
      inset: 0;
      z-index: 2;
      cursor: none;
    }

    .banner-img {
      clip-path: inset(0);

      img,
      video {
        transform: scale(1);
      }
    }

    .list-tag {
      li {
        // transition-delay: 0.2s;
      }
    }
  }

  .banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 160px);

    @media (max-width: 991px) {
      width: calc(100% - 48px);
    }

    h2 {
      line-height: 1.3;
    }

    .list-tag {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8px;
      max-width: 60%;
      margin: 30px auto 0;

      @media (max-width: 991px) {
        max-width: 100%;
      }

      li {
        padding: 10px 24px;
        background-color: rgba(60, 60, 60, 0.5);
        backdrop-filter: blur(10px);
        width: max-content;
        border-radius: 4px;
      }
    }
  }
}
.project-banner-showcase {
  height: 100svh;
  .banner-content {
    max-width: 845px;
  }
  .list-tag {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 60%;
    margin: 30px auto 0;

    @media (max-width: 991px) {
      max-width: 100%;
    }

    li {
      padding: 10px 24px;
      background-color: rgba(60, 60, 60, 0.5);
      backdrop-filter: blur(10px);
      width: max-content;
      border-radius: 4px;
    }
  }
}
.gallery {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0 80px;
  @media (max-width: 991px) {
    padding: 0 10px;
  }
}
.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 24px;
  height: 100vh;
  justify-content: center;
  align-content: center;
  @media (max-width: 991px) {
    gap: 18px;
  }
}

.gallery-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Trường hợp đặc biệt (ảnh zoom) */
.gallery-item.special {
  overflow: hidden;
}

/* Khi full màn hình */
.gallery-item.flip {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}
#progress-bar {
  position: fixed;
  right: 20px;
  z-index: 89;
  bottom: 80px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  transform-origin: 50% 50%;
  .progress-bar-background {
    fill: none;
    stroke: transparent;
    stroke-width: 2;
  }
  svg.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  svg.circle-progress {
    transform: rotate(-90deg);
  }
  .progress-bar-fill {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    transition: stroke-dasharray 0.15s;
  }
}
.body-content-project {
  margin-top: 120px;
  padding: 0 80px;
  margin-bottom: 80px;
  @media (max-width: 991px) {
    margin-top: 80px;
    padding: 0 10px;
  }
  .content-project {
    display: flex;
    flex-direction: column;
    gap: 80px;
    @media (max-width: 991px) {
      gap: 24px;
    }
  }
  .content-project-item {
    width: 100%;
    aspect-ratio: 1062 / 600;
    &.option-video {
      cursor: none;
    }
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .video {
      position: relative;
      width: 100%;
      height: 100%;
      .btn-control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          cursor: none;
          @media (max-width: 991px) {
            width: 50px;
            height: 50px;
          }
        }
      }
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
