.why-choose-us {
  background-color: var(--color-black);
  padding: 120px 0;
  overflow: hidden;

  .main-section {
    margin-top: 80px;
    cursor: none;
  }

  &.page-expertise {
    transition: background-color 0.4s ease;
    &.theme-light {
      background-color: var(--color-white);

      .color-white {
        color: var(--color-black);
      }
    }

    .list-wrapper {
      gap: 40px;

      .item-child {
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
        border: 1px solid var(--color-black);
        border-radius: 12px;
        min-width: 350px;
        aspect-ratio: 302 / 405;
        transition: all 0.4s ease;

        &.has-hover {
          overflow: hidden;

          &:hover {
            background-color: transparent;
          }

          .image {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            border: none;
            border-radius: unset;

            img {
              filter: none;
            }

            &::before {
              background-color: var(--color-white);
            }
          }
        }

        &:hover {
          background-color: var(--color-black);
          border-color: transparent;

          .title {
            color: var(--color-white);
          }

          .item-bottom li {
            color: var(--color-white);
            border-color: rgba($color: #ffffff, $alpha: 0.2);
          }
        }

        .title {
          position: relative;
          z-index: 3;
          top: unset;
          left: unset;
          width: 100%;
          transition: all 0.3s ease;
        }

        .item-bottom {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 12px;
          position: relative;
          z-index: 3;

          li {
            color: #8d8d8d;
            text-transform: uppercase;
            padding: 9px 24px;
            border-radius: 4px;
            background-color: transparent;
            backdrop-filter: blur(15px);
            border: 1px solid rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }

  .list-wrapper {
    padding: 0 80px;
    display: flex;
    align-items: stretch;
    gap: 60px;
    transition: transform 0.8s ease-out;

    .item-child {
      flex: 1;
      padding: 1px;
      min-width: 375px;
      aspect-ratio: 375 / 500;
      position: relative;

      &:hover {
        .image {
          border-color: transparent;

          &::before {
            opacity: 0;
            visibility: hidden;
          }

          img {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .title {
        position: absolute;
        z-index: 3;
        top: 40px;
        left: 40px;
        width: calc(100% - 80px);
      }

      .image {
        border: 1px solid var(--color-white);
        border-radius: 12px;
        overflow: hidden;
        transition: all 0.4s ease;
        position: relative;
        width: 100%;
        height: 100%;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          background-color: var(--color-black);
          transition: all 0.4s ease;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.35)
          );
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.4s ease;
          filter: grayscale(1);

          // opacity: 0;
          // visibility: hidden;
        }

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
